.main-container{

  font-size: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
  //height: 100vh;
  align-items: center;
  form{
    margin: 250px auto;
    background-color: #E7E7E7;
    padding:50px 20px ;
    //height: 250px;

    box-shadow: 0px 0px 24px 12px rgba(0,0,0,0.81);
    -webkit-box-shadow: 0px 0px 24px 12px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 24px 12px rgba(0,0,0,0.81);

    .validation{
      small{
        color: red;
      }
    }

    label{
      width: 100%;
      margin-top: 15px;
    }

    input{
      width: 100%;
      height: 35px;
      padding: 0 15px;
      font-size: 18px;
      outline: none;

      &.ng-invalid.ng-touched{
        border: 1px solid red;
      }

      &.ng-valid.ng-touched{
        border: 1px solid green;
      }
    }

    button{
      margin-top: 30px;
      width: 100%;
      height: 35px;
      font-size: 18px;
    }
  }
}
